body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #ef8800;
  color: #180e0c;
  font-family: Tahoma;
  font-size: 16px;
}

h1,
p {
  margin: 0.5em auto;
  text-align: center;
}

p {
  margin: -15px 0 25px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0.5em;
  background-color: rgba(147, 80, 49, 0.4);
}

label {
  display: block;
  margin: 0.5rem 0;
}

.info ~ fieldset label {
  margin: 2px 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: #935031;
  border: 1px solid #935031;
  color: #f5f6f7;
}

select {
  margin: 3px 0 10px;
}

::placeholder {
  color: #f5f6f7;
  font-family: inherit;
  padding: 2px;
}

:focus {
  outline: none;
  background-color: #935031;
}

fieldset {
  margin: 0;
  padding-bottom: 0px;
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  width: unset;
  margin: 0 8px 0;
  vertical-align: middle;
}

textarea {
  font-family: inherit;
}

input[type="submit"] {
  display: block;
  width: 100%;
  cursor: pointer;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #180e0c;
  border-color: #180e0c;
  border-radius: 5px;
  min-width: 300px;
}
